@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));



@theme {


    --color-azul-cope: #04244F;
    --color-verde-cope: #32944D;
    --color-gris-cope: #EDEDED;
    --color-header-cope: #174782;
    --color-table-azul: #04244F;
    --color-table-verde: #4509B5;
    --color-naranja-cope: #F78900;

}